.exercise-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2a2a2a;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.left {
  display: flex;
  gap: 12px;
  align-items: center;
}